body {
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e4e9f7;
}
#root {
  height: 100%;
}
