
.forgot-password-button {
  width: 60%;
  margin-top: 2%;
  align-self: center;
  background-color: #2BAE66FF;
  color: #fff;
}
.forgot-password-button:hover {
  background-color: rgb(105, 216, 155);
}
